<!doctype html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>Index</title>
    <!-- 부트스트랩 CSS 추가 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
  .background-container {
    position: relative;
    background-image: url('img/pig.png'); /* 이미지 경로 수정 */
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 400px; /* 컨테이너 높이 */
    width: 100%;
  }
  
  .content-container {
    position: absolute;
    top: 350px; /* background-container 높이에 맞춤 */
    left: 0;
    width: 100%;
  }
</style>
</head>
<body>
<nav th:replace="~{navbar :: navbarFragment}"></nav>
   <div class="d-flex justify-content-center mt-2">
    </div>
<th:block layout:fragment="content"></th:block>
<div class="container h-100">
  <div class="row justify-content-center align-items-center">
    <div class="col-12">
      <div class="background-container"></div>
      <div class="content-container text-center">
      <h2>도원결의</h2>
      <a href="/gallery" class="btn btn-primary mr-2">gallery</a>
        </div>
    </div>
</div>

<!-- 부트스트랩 JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
